<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">EmpNumber</th>
        <th scope="col">Full Name</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <th scope="row"><%= employee.code %></th>
        <td><%= link_to employee.full_name, edit_employee_path(employee) %></td>
        <td><%= employee.employee_status.name %></td>
        <td>
          <%= link_to 'Delete', employee_path(employee),
                  method: :delete,
                  data: { confrim: 'Are you sure?' } %> 
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>