<h1>Employees</h1>
<%= link_to 'New Employee', new_employee_path %>
<ul>
  <% @employees.each do |employee| %>
    <li>
      <%= link_to employee.full_name, employee %> | 
      <%= link_to 'Edit', edit_employee_path(employee) %> |
      <%= link_to 'Delete', employee_path(employee),
                  method: :delete,
                  data: { confrim: 'Are you sure?' } %> 
    </li>
  <% end %>
</ul>
